/* DRAG AND DROP ZONE */
#dropZone {
    margin: 30px auto 10px auto;
    padding: 30px;
    border: 2px dashed #00eaff;
    border-radius: 12px;
    background: rgba(10,10,40,0.2);
    color: #00eaff;
    font-size: 18px;
    width: 320px;
    transition: background 0.3s;
}

#dropZone:hover {
    background: rgba(0,234,255,0.1);
}

#previewImg {
    margin-top: 20px;
    border: 2px solid #00eaff;
    box-shadow: 0 0 15px #00eaff;
    border-radius: 10px;
    max-width: 320px;
    display: block;
}
/* ================================
   GLOBAL GALAXY DARK THEME
================================ */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    background: black;
    color: white;
}

/* THREE JS CANVAS */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* MAIN GLASS CONTAINER */
.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    padding: 40px;
    border-radius: 20px;

    backdrop-filter: blur(20px);
    background: rgba(10,10,40,0.4);

    box-shadow:
        0 0 20px #00eaff,
        inset 0 0 40px rgba(0,234,255,0.2);

    animation: glowPulse 4s infinite alternate;
}

/* TITLE */
.title {
    font-size: 32px;
    letter-spacing: 2px;
    color: #00eaff;
    text-shadow:
        0 0 10px #00eaff,
        0 0 30px #0051ff;
}

/* WEBCAM VIDEO */
#webcam {
    width: 520px;
    height: 380px;
    border-radius: 15px;
    margin-top: 20px;

    border: 2px solid #00eaff;

    box-shadow:
        0 0 15px #00eaff,
        0 0 40px rgba(0,234,255,0.5);
}

/* BUTTON */
#captureBtn {
    margin-top: 25px;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: white;
    background: linear-gradient(45deg,#001aff,#00eaff);

    box-shadow:
        0 0 15px #00eaff,
        inset 0 0 10px rgba(255,255,255,0.2);

    transition: 0.3s;
}

#captureBtn:hover {
    transform: scale(1.08);
    box-shadow:
        0 0 25px #00eaff,
        0 0 50px #001aff;
}

/* RESULT TEXT */
#result {
    margin-top: 20px;
    font-size: 22px;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff;
}

/* GLOW ANIMATION */
@keyframes glowPulse {
    from {
        box-shadow:
            0 0 10px #00eaff,
            inset 0 0 20px rgba(0,234,255,0.2);
    }
    to {
        box-shadow:
            0 0 40px #00eaff,
            inset 0 0 60px rgba(0,234,255,0.3);
    }
}